.title{
    background-color: #fb8d75;
    font-family: 'Comic Neue', cursive;
    font-size: large;
}
.main{
    padding-top: 20px;
    text-align: center;
    background-color: white;
    padding-bottom: 300px;
}
body{
    background-color: white;
}
h1{
    text-align: center;
}
img{
    border-radius: 20px;
}
.big{
    width: 540px;
    height: 40px;
}
.btn{
    width: 130px;
    height: 45px;
}
p{
    padding: 20px 20px 20px 20px;
}
.color{
    background-color: #fb8d75;
}